importFrom("deSolve", "ode")
importFrom("grDevices", "dev.new")
importFrom("graphics", "legend", "lines", "par", "plot", "polygon")
importFrom("stats", "dbinom", "median", "quantile", "rexp", "uniroot")
importFrom("utils", "flush.console")
exportPattern("^[[:alpha:]]+")
